main > div > img {
    width: 80%;
}
main{
    display: grid;
    grid-template-columns: 16.666666667% 16.666666667% 16.666666667% 16.666666667%  16.666666667% 16.666666667%;
    text-align: center;
}
main > div{
    border: 1px solid;
    border-radius: 20px;
    margin: 10px ;
}